
  .user-png{
    width: 20px;
    height: 20px;
  }
  body {
    padding-top: 70px; /* adjust based on your navbar height */
  }
  .navbar-brand{
color:#183f63;
  }
  .btn-nav{
    background-color:#63a4e0;
    border-radius: 8px;
    color:white !important;
    font-weight: bold;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white; /* Important so content behind doesn't show through */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* optional for better look */
  }
  